CMakeCache.txt
Makefile
CMakeFiles/
runTests
cmake_install.cmake
Server
db
log.txt
src/libSources.a
files
.DS_Store
coverage-output.info
coverage-output.info.cleaned
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
install_manifest.txt
coverage-output/
